<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.telincn.mapper.FunctionMapper" >
 
  <select id="loadFunction" resultType="Map">
  	select * 
  	from 
  		FUNCTION fn left join ASSOCIATION_FUNCTION_ROLE ass on ass.FUNCTION_ID = fn.FUNCTION_ID
  		left join ROLE on ass.ROLE_ID = ROLE.ROLE_ID
  </select>

</mapper>