<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.telincn.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.telincn.entity.Role" >
    <id column="ROLE_ID" property="roleId" jdbcType="DECIMAL" />
    <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectRoleByUser" parameterType="int" resultMap="BaseResultMap">
	select ROLE.ROLE_ID,ROLE.ROLE_NAME 
	from 
		ASSOCIATION_USER_ROLE ass  inner join ROLE on ass.ROLE_ID=ROLE.ROLE_ID
	where 
		ass.USER_ID = #{userId,jdbcType=DECIMAL}
  </select>

  <select id="selectRoles" resultMap="BaseResultMap">
  	select ROLE_ID,ROLE_NAME
  	from 
  		ROLE
  </select>
	
  <select id="loadSourceWithRoleAssociation" resultType="Map">
  	select * 
  	from 
  		SOURCE source left join ASSOCIATION_SOURCE_ROLE ass on source.SOURCE_ID = ass.SOURCE_ID inner join ROLE on ass.ROLE_ID = ROLE.ROLE_ID
  </select>

</mapper>